<section class="white-bg features restaurant-features-2  padding-120-90" id="features">
  <div class="container">
  <div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
  <div class="section-heading text-center">

  <h2 class="heading-text">レシピ一覧</h2>
  <hr class="lines">
  <p class="sub-heading"><!-- Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum --></p>

  </div> <!-- /.section-heading -->
  </div>
  </div>  <!-- /.row -->

<div class="row">
  <%= render :partial => "recipe", :collection => @recipes %>
</div>

