
<!-- =========================
     APP DESCRIPTION 
============================== -->
<section class="descriptions app-description-1 secondary-bg padding-120-75" id="description">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb50">
        
        <img src="<%= asset_path "skincare.jpg" %>" alt="" class="img-responsive img-left">

      </div>

      <div class="col-md-6 mb50">
        <div class="section-heading mt50">

          <h2 class="heading-text">Discover Great Features</h2>
          <hr class="lines">

        </div> <!-- /.section-heading -->

        <p>Fund viral user centered design SpaceTeam affordances physical computing engaging ideate responsive latte entrepreneur. Hacker agile grok SpaceTeam human-centered design cortado disrupt agile user story minimum viable product convergence. Parallax pair programming entrepreneur thinker-maker-doer moleskine personas pivot experiential. Iterate big data </p>
        <p>Minimum viable product latte personas thinker-maker-doer integrate disrupt co-working innovate bootstrapping waterfall is so 2000 and late agile.</p>

        <ul class="list-inline">
          <li>
            <span class="icon svg-arrow-down-alt"></span>
            20,000+ Downloads
          </li>
          <li>
            <span class="icon svg-icon-star"></span>
            Rating 4.8 out of 5 
          </li>
          <li>
            <span class="icon svg-icon-check-alt"></span>
            Recommanded by Experts
          </li>
        </ul>

      </div>
    </div> <!-- /.row -->
  </div>
</section>
