<section class="content-half app-description-3" id="description">
  <div class="container-half container-half-left cover-bg" style="background-image: url(<%= asset_path "ukon.jpg" %>);"></div>
  <div class="container-half container-half-right gradient-bg"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <div class="panel-group panel-nemo-1" id="accordionOne" role="tablist" aria-multiselectable="true">
          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingOne_accordionOne">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne_accordionOne" aria-expanded="true" aria-controls="collapseOne_accordionOne">
                  <i class="icon svg-icon-lightbulb-alt"></i>
                  ウコン
                </a>
              </h3>

            </div>
            <div id="collapseOne_accordionOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_accordionOne">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->

          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingTwo_accordionOne">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionOne" href="#collapseTwo_accordionOne" aria-expanded="true" aria-controls="collapseTwo_accordionOne">
                  <i class="icon svg-icon-cart-alt"></i>
                  Get the best deal on shopping
                </a>
              </h3>

            </div>
            <div id="collapseTwo_accordionOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_accordionOne">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->

          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingThree_accordionOne">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionOne" href="#collapseThree_accordionOne" aria-expanded="true" aria-controls="collapseThree_accordionOne">
                  <i class="icon svg-icon-gift-alt"></i>
                  Weekly gifts with every purchase
                </a>
              </h3>

            </div>
            <div id="collapseThree_accordionOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_accordionOne">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->

          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingFour_accordionOne">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionOne" href="#collapseFour_accordionOne" aria-expanded="true" aria-controls="collapseFour_accordionOne">
                  <i class="icon svg-icon-ribbon-alt"></i>
                  Enjoy certified products
                </a>
              </h3>

            </div>
            <div id="collapseFour_accordionOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour_accordionOne">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->
        </div>
      </div>
    </div>
  </div>
</section>



<!-- =========================
     DESCRIBE WITH ACCORDION 
============================== -->
<section class="content-half app-description-3">
  <div class="container-half container-half-left gradient-bg"></div>
  <div class="container-half container-half-right cover-bg" style="background-image: url(images/app-desc-3.jpg);"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel-group panel-nemo-1" id="accordionTwo" role="tablist" aria-multiselectable="true">
          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingOne_accordionTwo">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseOne_accordionTwo" aria-expanded="true" aria-controls="collapseOne_accordionTwo">
                  <i class="icon svg-icon-lightbulb-alt"></i>
                  Easy to customize
                </a>
              </h3>

            </div>
            <div id="collapseOne_accordionTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_accordionTwo">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->

          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingTwo_accordionTwo">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo_accordionTwo" aria-expanded="true" aria-controls="collapseTwo_accordionTwo">
                  <i class="icon svg-icon-cart-alt"></i>
                  Get the best deal on shopping
                </a>
              </h3>

            </div>
            <div id="collapseTwo_accordionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_accordionTwo">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->

          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingThree_accordionTwo">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseThree_accordionTwo" aria-expanded="true" aria-controls="collapseThree_accordionTwo">
                  <i class="icon svg-icon-gift-alt"></i>
                  Weekly gifts with every purchase
                </a>
              </h3>

            </div>
            <div id="collapseThree_accordionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_accordionTwo">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->

          <div class="panel"> <!-- PANEL START -->
            <div role="tab" id="headingFour_accordionTwo">

              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseFour_accordionTwo" aria-expanded="true" aria-controls="collapseFour_accordionTwo">
                  <i class="icon svg-icon-ribbon-alt"></i>
                  Enjoy certified products
                </a>
              </h3>

            </div>
            <div id="collapseFour_accordionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_accordionTwo">
                <div class="panel-body">
                  Business model canvas vesting period supply chain burn rate traction launch party disruptive infrastructure. Prototype hackathon early adopters founders. Direct mailing burn rate bootstrapping user experience.
                </div>
             </div>
          </div> <!-- /END PANEL END -->
        </div>
      </div>
    </div>
  </div>
</section>




<!-- <h1>カラダの調子を整えたい</h1>
  <div class"asai">
    <h3>ターメリック（ウコン)</h3>
        <p>
          ターメリックには、ビタミンB1・ビタミンB2・ビタミンB3(ナイアシン)・ビタミンB6・葉酸・ビタミンC・ビタミンE・ビタミンK・カルシウム・鉄分・リン・マグネシウム・カリウムといった栄養素が豊富に含まれています。<br>
          香辛料のイメージが強いターメリックですが、日本のウコンと言えば、肝臓に良い民間薬として知られています。肝臓に良いとされるのは、ウコンに含まれているクルクミンと呼ばれる成分で、胆汁の分泌を活性化させることにより、肝機能の働きをサポートしてくれます。とくに、二日酔いの予防にも良いとされており、この症状の原因とされるアセトアルデヒドという成分をクルクミンが分解を促すことによるものです。
          この他にも食物繊維が豊富に含まれており、コレステロールを吸着、分解、排出させる作用が期待されています。
        </p>
  </div>
  <div class="recipe-link">
    <img src="<%= asset_path "ukon.jpg" %>" />
      
      <%= link_to "【カラダの調子を整える】レシピを見る",'/recipes/health_conditions_recipe' %><br>
        <%= link_to "【すべてのレシピ】", '/recipe/show' %>
      </p>
  </div>



 -->