<!-- =========================
     BOOK DESCRIPTION 
============================== -->
<section class="descriptions book-description padding-120-75 white-bg" id="description">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mb50">
        <div class="section-heading">

          <h2 class="heading-text">お肌のコンディションを整えたい</h2>
          <hr class="lines">

        </div> <!-- /.section-heading -->

        <p>実はチアシードにはα-リノレン酸がたっぷり含まれ、スキンケア用にも注目されているのです。ここでは、チアシードをはじめ、今話題の美容にいいスーパーフードをご紹介します。</p>

      </div>
    </div>  <!-- /.row -->
  </div>
</section>
<section class="descriptions book-description padding-120-75 secondary-bg" id="description">
  <div class="container">
    <div class="row">
      <%= render :partial => "recipes/recipe", :collection => @recipes %>
    </div>
  </div>
</section>